.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 80px auto;

            .title {
                margin-top: 80px;
                color: var(--foreground);
                font-size: 32px;
                font-weight: bold;
            }

            div {
                margin-top: 28px;

                h4 {
                    color: var(--foreground);
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                .title {
                    margin-top: 80px;
                    color: var(--foreground);
                    font-size: 32px;
                    font-weight: bold;
                }

                div {
                    margin-top: 28px;

                    h4 {
                        color: var(--foreground);
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                .title {
                    margin-top: 60px;
                    color: var(--foreground);
                    font-size: 28px;
                    font-weight: bold;
                }

                div {
                    margin-top: 28px;

                    h4 {
                        color: var(--foreground);
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 64px auto;
                padding: 0 12px;

                .title {
                    margin-top: 40px;
                    color: var(--foreground);
                    font-size: 28px;
                    font-weight: bold;
                }

                div {
                    margin-top: 20px;

                    h4 {
                        color: var(--foreground);
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
