@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: 100vh;

                img {
                    user-select: none;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    filter: brightness(50%);
                }

                .textBox {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    z-index: 1000;

                    h1 {
                        color: var(--white);
                        font-size: 44px;
                        font-weight: bold;
                        white-space: pre-line;
                        text-align: left;
                    }

                    h2 {
                        color: var(--white);
                        margin-top: 12px;
                        font-size: 24px;
                        font-weight: bold;
                        white-space: pre-line;
                        text-align: left;
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                .titleView {
                    h1 {
                        color: var(--foreground);
                        font-size: 28px;
                        font-weight: bold;
                        word-break: keep-all;
                        text-align: center;
                    }

                    h2 {
                        color: var(--primaryMain);
                        margin-top: 24px;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        white-space: pre-line;
                        word-break: keep-all;
                    }
                }

                .organizationView {
                    margin-top: 80px;

                    .title {
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .organizationItem {
                        margin-top: 40px;

                        .organizationName {
                            padding-bottom: 4px;
                            border-bottom: 1px solid var(--black);
                            color: var(--foreground);
                            font-size: 20px;
                            font-weight: bold;
                        }

                        .organizationDesc {
                            margin-top: 20px;
                            color: var(--foreground);
                            font-size: 15px;
                            white-space: pre-line;
                            word-break: keep-all;
                        }
                    }
                }

                .recruitView {
                    background-color: var(--background2);
                    margin-top: 80px;
                    padding: 16px;
                    border-radius: 8px;

                    .title {
                        color: var(--foreground);
                        font-size: 20px;
                        font-weight: bold;
                        word-break: keep-all;
                    }

                    .content {
                        margin-top: 20px;
                        color: var(--foreground);
                        font-size: 16px;
                        white-space: pre-line;
                        word-break: keep-all;
                    }
                }
            }
        }
    }
}
