@forward 'page.module-1280.scss';
@forward 'page.module-900.scss';
@forward 'page.module-600.scss';

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: 100vh;

                img {
                    user-select: none;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    filter: brightness(30%);
                }

                .textBox {
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    transform: translate(0, -50%);
                    z-index: 1000;

                    h2 {
                        color: var(--white);
                        font-size: 64px;
                        font-weight: bold;
                        white-space: pre-line;
                        word-break: keep-all;
                        text-align: left;
                        line-height: 1.2;
                    }

                    h3 {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
                        color: var(--white);
                        font-size: 20px;
                        font-weight: bold;
                        white-space: pre-line;
                        word-break: keep-all;
                        text-align: left;

                        &:last-child {
                            margin-top: 20px;
                            font-size: 28px;
                        }

                        .line {
                            background-color: var(--white);
                            display: inline-block;
                            width: 50px;
                            height: 2px;
                            margin: 0 6px;
                        }
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;

                .title {
                    color: var(--foreground);
                    font-size: 36px;
                    font-weight: bold;
                }

                .productView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 80px;

                    .flexView {
                        display: flex;
                        gap: 40px;
                        justify-content: center;
                        align-items: stretch;
                        width: 100%;
                        margin-top: 32px;

                        .productItem {
                            background-color: var(--white);
                            overflow: hidden;
                            flex: 1;
                            border: 0.5px solid rgba(28, 28, 28, 0.1);
                            border-radius: 16px;
                            box-shadow: 0 8px 16px rgba(28, 28, 28, 0.1);
                            text-decoration: none;

                            &:nth-child(1) {
                                .productImg {
                                    background-color: rgba(226, 252, 247, 0.8);

                                    img {
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 90%;
                                        border-radius: 8px;
                                    }
                                }
                            }

                            &:nth-child(2) {
                                .productImg {
                                    background-color: rgba(229, 223, 254, 0.8);

                                    img {
                                        left: -10px;
                                        width: fit-content;
                                        height: 90%;
                                        object-fit: cover;
                                    }
                                }
                            }

                            &:nth-child(3) {
                                .productImg {
                                    background-color: rgba(221, 239, 252, 0.8);

                                    img {
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                }
                            }

                            .productImg {
                                position: relative;
                                width: 100%;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 100%;
                                }

                                img {
                                    position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                }
                            }

                            .productName {
                                padding: 12px 16px;
                                color: var(--foreground);
                                font-size: 24px;
                                font-weight: bold;
                                word-break: keep-all;
                            }

                            .productDesc {
                                padding: 12px 16px;
                                padding-top: 0;
                                color: var(--darkGrey);
                                font-size: 16px;
                                white-space: pre-line;
                                word-break: keep-all;
                            }
                        }
                    }
                }

                .philosophyView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .flexView {
                        display: flex;
                        gap: 40px;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        margin-top: 32px;

                        div {
                            width: 100px;

                            .philosophyImg {
                                position: relative;
                                width: 100%;
                                height: auto;

                                img {
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }

                .customerView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 80px;

                    .marqueeView {
                        overflow: hidden;
                        width: 100%;
                        margin-top: 32px;

                        .trackView {
                            display: flex;
                            gap: 30px;
                            overflow: hidden;
                            width: max-content;
                            animation: marquee 25s linear infinite;
                            will-change: transform;

                            div {
                                flex-shrink: 0;
                                background-color: var(--background2);
                                display: flex;
                                gap: 12px;
                                align-items: center;
                                padding: 28px 32px;
                                border-radius: 8px;

                                .customerImg {
                                    position: relative;
                                    width: 100%;
                                    height: auto;

                                    img {
                                        width: 100%;
                                        height: auto;
                                        object-fit: cover;
                                    }
                                }

                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
