.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 80px auto;

            h1 {
                font-size: 32px;
            }

            h2 {
                color: var(--grey);
                font-size: 24px;
            }

            .lineView {
                position: relative;
                width: 100%;
                height: 100%;
                margin-top: 40px;

                .line {
                    background-color: var(--black);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1px;
                    height: 100%;
                }

                .historyItem {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;

                    &.left {
                        justify-content: flex-start;

                        .wrapper {
                            align-items: flex-end;

                            .hLine {
                                right: -36px;
                            }
                        }
                    }

                    &.right {
                        justify-content: flex-end;

                        .wrapper {
                            align-items: flex-start;

                            .hLine {
                                left: -36px;
                            }
                        }
                    }

                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        padding: 36px;

                        .yearView {
                            position: relative;

                            .hLine {
                                position: absolute;
                                top: 16px;
                                background-color: var(--black);
                                width: 30px;
                                height: 1px;
                            }

                            .year {
                                font-size: 24px;
                            }
                        }

                        .contentView {
                            margin-top: 8px;
                            font-size: 16px;
                        }

                        .img {
                            overflow: hidden;
                            position: relative;
                            width: 80%;
                            margin-top: 12px;
                            border-radius: 8px;

                            &:after {
                                content: '';
                                display: block;
                                padding-bottom: 60%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                h1 {
                    font-size: 32px;
                }

                h2 {
                    color: var(--grey);
                    font-size: 24px;
                }

                .lineView {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin-top: 40px;

                    .line {
                        background-color: var(--black);
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1px;
                        height: 100%;
                    }

                    .historyItem {
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;

                        &.left {
                            justify-content: flex-start;

                            .wrapper {
                                align-items: flex-end;

                                .hLine {
                                    right: -36px;
                                }
                            }
                        }

                        &.right {
                            justify-content: flex-end;

                            .wrapper {
                                align-items: flex-start;

                                .hLine {
                                    left: -36px;
                                }
                            }
                        }

                        .wrapper {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            padding: 36px;

                            .yearView {
                                position: relative;

                                .hLine {
                                    position: absolute;
                                    top: 16px;
                                    background-color: var(--black);
                                    width: 30px;
                                    height: 1px;
                                }

                                .year {
                                    font-size: 24px;
                                }
                            }

                            .contentView {
                                margin-top: 8px;
                                font-size: 16px;
                            }

                            .img {
                                overflow: hidden;
                                position: relative;
                                width: 80%;
                                margin-top: 12px;
                                border-radius: 8px;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 60%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                h1 {
                    font-size: 32px;
                }

                h2 {
                    color: var(--grey);
                    font-size: 24px;
                }

                .lineView {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin-top: 40px;

                    .line {
                        background-color: var(--black);
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1px;
                        height: 100%;
                    }

                    .historyItem {
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;

                        &.left {
                            justify-content: flex-start;

                            .wrapper {
                                align-items: flex-end;

                                .hLine {
                                    right: -36px;
                                }
                            }
                        }

                        &.right {
                            justify-content: flex-end;

                            .wrapper {
                                align-items: flex-start;

                                .hLine {
                                    left: -36px;
                                }
                            }
                        }

                        .wrapper {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            padding: 36px;

                            .yearView {
                                position: relative;

                                .hLine {
                                    position: absolute;
                                    top: 16px;
                                    background-color: var(--black);
                                    width: 30px;
                                    height: 1px;
                                }

                                .year {
                                    font-size: 24px;
                                }
                            }

                            .contentView {
                                margin-top: 8px;
                                font-size: 16px;
                            }

                            .img {
                                overflow: hidden;
                                position: relative;
                                width: 80%;
                                margin-top: 12px;
                                border-radius: 8px;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 60%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 40px auto;
                padding: 0 12px;

                h1 {
                    font-size: 28px;
                }

                h2 {
                    color: var(--grey);
                    font-size: 20px;
                }

                .lineView {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin-top: 40px;

                    .line {
                        background-color: var(--black);
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateX(0);
                        width: 1px;
                        height: 100%;
                    }

                    .historyItem {
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;

                        &.left {
                            justify-content: flex-start;

                            .wrapper {
                                align-items: flex-start;

                                .hLine {
                                    left: -28px;
                                }
                            }
                        }

                        &.right {
                            justify-content: flex-start;

                            .wrapper {
                                align-items: flex-start;

                                .hLine {
                                    left: -28px;
                                }
                            }
                        }

                        .wrapper {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            padding: 28px;

                            .yearView {
                                position: relative;

                                .hLine {
                                    position: absolute;
                                    top: 14px;
                                    background-color: var(--black);
                                    width: 24px;
                                    height: 1px;
                                }

                                .year {
                                    font-size: 20px;
                                }
                            }

                            .contentView {
                                margin-top: 8px;
                                font-size: 14px;
                            }

                            .img {
                                overflow: hidden;
                                position: relative;
                                width: 200%;
                                margin-top: 12px;
                                border-radius: 8px;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 60%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
