.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .bannerSection {
            position: relative;
            width: 100%;
            height: calc(100vh - 80px);

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .textBox {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1000;
                color: var(--white);
                text-align: center;

                h1 {
                    font-size: 48px;
                }

                h2 {
                    margin-top: 12px;
                    font-size: 28px;
                }
            }
        }

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto 80px;
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: calc(100vh - 80px);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                .textBox {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1000;
                    color: var(--white);
                    text-align: center;

                    h1 {
                        font-size: 48px;
                    }

                    h2 {
                        margin-top: 12px;
                        font-size: 28px;
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 80px;
                padding: 0 12px;
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: calc(100vh - 80px);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                .textBox {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1000;
                    color: var(--white);
                    text-align: center;

                    h1 {
                        font-size: 48px;
                    }

                    h2 {
                        margin-top: 12px;
                        font-size: 28px;
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 80px;
                padding: 0 12px;
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: calc(100vh - 80px);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                .textBox {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1000;
                    color: var(--white);
                    text-align: center;

                    h1 {
                        font-size: 48px;
                    }

                    h2 {
                        margin-top: 12px;
                        font-size: 28px;
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 40px;
                padding: 0 12px;
            }
        }
    }
}

// @media (prefers-color-scheme: dark) {
//     .logo {
//         // filter: invert();
//     }

//     .page {
//         --background: #000;
//         --foreground: #000;

//         --text-primary: #ededed;
//         --text-secondary: #999;

//         --button-primary-hover: #ccc;
//         --button-secondary-hover: #1a1a1a;
//         --button-secondary-border: #1a1a1a;
//     }
// }
