.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        margin: 80px auto;
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;
            margin: 64px auto;
        }
    }
}
