@media (min-width: 1280px) {
    .container {
        position: relative;
        width: 100%;
        height: 100vh;

        img {
            user-select: none;
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: brightness(30%);
        }

        .textBox {
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(0, -50%);
            z-index: 1000;

            h2 {
                color: var(--white);
                font-size: 64px;
                font-weight: bold;
                white-space: pre-line;
                word-break: keep-all;
                text-align: left;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 1280px) {
    .container {
        position: relative;
        width: 100%;
        height: 100vh;

        img {
            user-select: none;
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: brightness(30%);
        }

        .textBox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            z-index: 1000;

            h2 {
                color: var(--white);
                font-size: 60px;
                font-weight: bold;
                white-space: pre-line;
                word-break: keep-all;
                text-align: left;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 900px) {
    .container {
        position: relative;
        width: 100%;
        height: 100vh;

        img {
            user-select: none;
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: brightness(30%);
        }

        .textBox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            z-index: 1000;

            h2 {
                color: var(--white);
                font-size: 52px;
                font-weight: bold;
                white-space: pre-line;
                word-break: keep-all;
                text-align: left;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        position: relative;
        width: 100%;
        height: 100vh;

        img {
            user-select: none;
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: brightness(30%);
        }

        .textBox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            z-index: 1000;

            h2 {
                color: var(--white);
                font-size: 40px;
                font-weight: bold;
                white-space: pre-line;
                word-break: keep-all;
                text-align: left;
                line-height: 1.2;
            }
        }
    }
}
