@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .bannerSection {
            position: relative;
            width: 100%;
            height: calc(100vh - 80px);

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .textBox {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1000;
                color: var(--white);
                text-align: center;

                h1 {
                    font-size: 48px;
                }

                h2 {
                    margin-top: 12px;
                    font-size: 28px;
                }
            }
        }

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 80px auto;

            .productView {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 24px;
                }

                .flexView {
                    display: flex;
                    gap: 30px;
                    margin-top: 28px;

                    div {
                        flex: 1;

                        .productImg {
                            position: relative;
                            width: 100%;
                            border-radius: 8px;

                            &:after {
                                content: '';
                                display: block;
                                padding-bottom: 100%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .productName {
                            color: var(--black);
                            font-size: 20px;
                        }

                        .productDesc {
                            color: var(--grey);
                            font-size: 16px;
                        }
                    }
                }
            }

            .customerView {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 60px;

                h2 {
                    font-size: 24px;
                }

                .marqueeView {
                    overflow: hidden;
                    width: 100%;
                    margin-top: 28px;

                    .trackView {
                        display: flex;
                        gap: 30px;
                        overflow: hidden;
                        width: max-content;
                        animation: marquee 25s linear infinite;
                        will-change: transform;

                        div {
                            flex-shrink: 0;
                            background-color: var(--background2);
                            display: flex;
                            gap: 12px;
                            align-items: center;
                            padding: 28px 32px;
                            border-radius: 8px;

                            .customerImg {
                                position: relative;
                                width: 40px;

                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                            p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: calc(100vh - 80px);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                .productView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        font-size: 24px;
                    }

                    .flexView {
                        display: flex;
                        gap: 30px;
                        margin-top: 28px;

                        div {
                            flex: 1;

                            .productImg {
                                position: relative;
                                width: 100%;
                                border-radius: 8px;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 100%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .productName {
                                color: var(--black);
                                font-size: 20px;
                            }

                            .productDesc {
                                color: var(--grey);
                                font-size: 16px;
                            }
                        }
                    }
                }

                .customerView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 60px;

                    h2 {
                        font-size: 24px;
                    }

                    .marqueeView {
                        overflow: hidden;
                        width: 100%;
                        margin-top: 28px;

                        .trackView {
                            display: flex;
                            gap: 30px;
                            overflow: hidden;
                            width: max-content;
                            animation: marquee 25s linear infinite;
                            will-change: transform;

                            div {
                                flex-shrink: 0;
                                background-color: var(--background2);
                                display: flex;
                                gap: 12px;
                                align-items: center;
                                padding: 28px 32px;
                                border-radius: 8px;

                                .customerImg {
                                    position: relative;
                                    width: 40px;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }

                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: calc(100vh - 80px);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                .productView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        font-size: 24px;
                    }

                    .flexView {
                        display: flex;
                        gap: 30px;
                        margin-top: 28px;

                        div {
                            flex: 1;

                            .productImg {
                                position: relative;
                                width: 100%;
                                border-radius: 8px;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 100%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .productName {
                                color: var(--black);
                                font-size: 20px;
                            }

                            .productDesc {
                                color: var(--grey);
                                font-size: 16px;
                            }
                        }
                    }
                }

                .customerView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 60px;

                    h2 {
                        font-size: 24px;
                    }

                    .marqueeView {
                        overflow: hidden;
                        width: 100%;
                        margin-top: 28px;

                        .trackView {
                            display: flex;
                            gap: 30px;
                            overflow: hidden;
                            width: max-content;
                            animation: marquee 25s linear infinite;
                            will-change: transform;

                            div {
                                flex-shrink: 0;
                                background-color: var(--background2);
                                display: flex;
                                gap: 12px;
                                align-items: center;
                                padding: 28px 32px;
                                border-radius: 8px;

                                .customerImg {
                                    position: relative;
                                    width: 40px;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }

                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: calc(100vh - 80px);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto 40px;
                padding: 0 12px;

                .productView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        font-size: 24px;
                    }

                    .flexView {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        width: 100%;
                        margin-top: 28px;

                        div {
                            flex: 1;

                            .productImg {
                                position: relative;
                                width: 100%;
                                border-radius: 8px;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 100%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .productName {
                                color: var(--black);
                                font-size: 20px;
                            }

                            .productDesc {
                                color: var(--grey);
                                font-size: 16px;
                            }
                        }
                    }
                }

                .customerView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 60px;

                    h2 {
                        font-size: 24px;
                    }

                    .marqueeView {
                        overflow: hidden;
                        width: 100%;
                        margin-top: 28px;

                        .trackView {
                            display: flex;
                            gap: 30px;
                            overflow: hidden;
                            width: max-content;
                            animation: marquee 25s linear infinite;
                            will-change: transform;

                            div {
                                flex-shrink: 0;
                                background-color: var(--background2);
                                display: flex;
                                gap: 12px;
                                align-items: center;
                                padding: 28px 32px;
                                border-radius: 8px;

                                .customerImg {
                                    position: relative;
                                    width: 40px;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }

                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// @media (prefers-color-scheme: dark) {
//     .logo {
//         // filter: invert();
//     }

//     .page {
//         --background: #000;
//         --foreground: #000;

//         --text-primary: #ededed;
//         --text-secondary: #999;

//         --button-primary-hover: #ccc;
//         --button-secondary-hover: #1a1a1a;
//         --button-secondary-border: #1a1a1a;
//     }
// }
