.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .mainSection {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1280px;
            margin: 80px auto;

            .flexView {
                flex: 1;
                display: flex;
                gap: 40px;
                margin-top: 80px;

                .textView {
                    flex: 1;
                    padding: 40px 24px;
                    border: 1px solid var(--border);
                    border-radius: 8px;

                    .title {
                        padding-bottom: 20px;
                        border-bottom: 1px solid var(--border);
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .contentView {
                        margin-top: 40px;

                        .contentTitle {
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            margin-bottom: 16px;

                            svg {
                                width: 20px;
                                height: 20px;
                            }

                            p {
                                color: var(--foreground);
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }

                        .contentFlexView {
                            display: flex;
                            gap: 4px;
                            align-items: flex-end;

                            p {
                                color: var(--foreground);
                                font-size: 16px;
                                white-space: pre-wrap;
                                word-break: keep-all;
                            }

                            svg {
                                width: 18px;
                                height: 20px;
                            }
                        }

                        .contentFlexView2 {
                            display: flex;
                            gap: 4px;
                            align-items: flex-start;
                            margin-bottom: 12px;

                            .contentFlexViewTitle {
                                flex-shrink: 0;
                                width: 60px;
                                color: var(--foreground);
                                font-size: 16px;
                                font-weight: bold;
                                white-space: pre-wrap;
                                word-break: keep-all;
                            }

                            .contentFlexViewContent {
                                color: var(--foreground);
                                font-size: 16px;
                                white-space: pre-line;
                                word-break: keep-all;
                            }
                        }
                    }
                }

                .mapView {
                    flex: 1;
                    border: 1px solid var(--border);
                    border-radius: 8px;

                    .marker {
                        cursor: pointer;
                        background: var(--primaryMain);
                        border-radius: 8px;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 0;
                            height: 0;
                            border: 10px solid transparent;
                            border-top-color: var(--primaryMain);
                            border-bottom: 0;
                            margin-left: -10px;
                            margin-bottom: -8px;
                        }

                        img {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                flex: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                .flexView {
                    flex: 1;
                    display: flex;
                    gap: 20px;
                    margin-top: 80px;

                    .textView {
                        flex: 1;
                        padding: 40px 24px;
                        border: 1px solid var(--border);
                        border-radius: 8px;

                        .title {
                            padding-bottom: 20px;
                            border-bottom: 1px solid var(--border);
                            font-size: 28px;
                            font-weight: bold;
                        }

                        .contentView {
                            margin-top: 40px;

                            .contentTitle {
                                display: flex;
                                gap: 4px;
                                align-items: center;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }

                                p {
                                    color: var(--foreground);
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                            }

                            .contentFlexView {
                                display: flex;
                                gap: 4px;
                                align-items: flex-end;

                                p {
                                    color: var(--foreground);
                                    font-size: 16px;
                                    white-space: pre-wrap;
                                    word-break: keep-all;
                                }

                                svg {
                                    width: 18px;
                                    height: 20px;
                                }
                            }

                            .contentFlexView2 {
                                display: flex;
                                gap: 4px;
                                align-items: flex-start;
                                margin-bottom: 12px;

                                .contentFlexViewTitle {
                                    flex-shrink: 0;
                                    width: 60px;
                                    color: var(--foreground);
                                    font-size: 16px;
                                    font-weight: bold;
                                    white-space: pre-wrap;
                                    word-break: keep-all;
                                }

                                .contentFlexViewContent {
                                    color: var(--foreground);
                                    font-size: 16px;
                                    white-space: pre-line;
                                    word-break: keep-all;
                                }
                            }
                        }
                    }

                    .mapView {
                        flex: 1;
                        border: 1px solid var(--border);
                        border-radius: 8px;

                        .marker {
                            cursor: pointer;
                            background: var(--primaryMain);
                            border-radius: 8px;

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: 0;
                                height: 0;
                                border: 10px solid transparent;
                                border-top-color: var(--primaryMain);
                                border-bottom: 0;
                                margin-left: -10px;
                                margin-bottom: -8px;
                            }

                            img {
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                flex: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                .flexView {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 60px;

                    .textView {
                        flex: 1;
                        min-height: 500px;
                        padding: 40px 24px;
                        border: 1px solid var(--border);
                        border-radius: 8px;

                        .title {
                            padding-bottom: 20px;
                            border-bottom: 1px solid var(--border);
                            font-size: 28px;
                            font-weight: bold;
                        }

                        .contentView {
                            margin-top: 40px;

                            .contentTitle {
                                display: flex;
                                gap: 4px;
                                align-items: center;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }

                                p {
                                    color: var(--foreground);
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                            }

                            .contentFlexView {
                                display: flex;
                                gap: 4px;
                                align-items: flex-end;

                                p {
                                    color: var(--foreground);
                                    font-size: 16px;
                                    white-space: pre-wrap;
                                    word-break: keep-all;
                                }

                                svg {
                                    width: 18px;
                                    height: 20px;
                                }
                            }

                            .contentFlexView2 {
                                display: flex;
                                gap: 4px;
                                align-items: flex-start;
                                margin-bottom: 12px;

                                .contentFlexViewTitle {
                                    flex-shrink: 0;
                                    width: 60px;
                                    color: var(--foreground);
                                    font-size: 16px;
                                    font-weight: bold;
                                    white-space: pre-wrap;
                                    word-break: keep-all;
                                }

                                .contentFlexViewContent {
                                    color: var(--foreground);
                                    font-size: 16px;
                                    white-space: pre-line;
                                    word-break: keep-all;
                                }
                            }
                        }
                    }

                    .mapView {
                        flex: 1;
                        min-height: 500px;
                        border: 1px solid var(--border);
                        border-radius: 8px;

                        .marker {
                            cursor: pointer;
                            background: var(--primaryMain);
                            border-radius: 8px;

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: 0;
                                height: 0;
                                border: 10px solid transparent;
                                border-top-color: var(--primaryMain);
                                border-bottom: 0;
                                margin-left: -10px;
                                margin-bottom: -8px;
                            }

                            img {
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                flex: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 1280px;
                margin: 64px auto;
                padding: 0 12px;

                .flexView {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 40px;

                    .textView {
                        flex: 1;
                        min-height: 350px;
                        padding: 20px 16px;
                        border: 1px solid var(--border);
                        border-radius: 8px;

                        .title {
                            padding-bottom: 20px;
                            border-bottom: 1px solid var(--border);
                            font-size: 24px;
                            font-weight: bold;
                        }

                        .contentView {
                            margin-top: 20px;

                            .contentTitle {
                                display: flex;
                                gap: 4px;
                                align-items: center;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }

                                p {
                                    color: var(--foreground);
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                            }

                            .contentFlexView {
                                display: flex;
                                gap: 4px;
                                align-items: flex-end;

                                p {
                                    color: var(--foreground);
                                    font-size: 16px;
                                    white-space: pre-wrap;
                                    word-break: keep-all;
                                }

                                svg {
                                    width: 18px;
                                    height: 20px;
                                }
                            }

                            .contentFlexView2 {
                                display: flex;
                                gap: 4px;
                                align-items: flex-start;
                                margin-bottom: 12px;

                                .contentFlexViewTitle {
                                    flex-shrink: 0;
                                    width: 60px;
                                    color: var(--foreground);
                                    font-size: 16px;
                                    font-weight: bold;
                                    white-space: pre-wrap;
                                    word-break: keep-all;
                                }

                                .contentFlexViewContent {
                                    color: var(--foreground);
                                    font-size: 16px;
                                    white-space: pre-line;
                                    word-break: keep-all;
                                }
                            }
                        }
                    }

                    .mapView {
                        flex: 1;
                        min-height: 350px;
                        border: 1px solid var(--border);
                        border-radius: 8px;

                        .marker {
                            cursor: pointer;
                            background: var(--primaryMain);
                            border-radius: 8px;

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: 0;
                                height: 0;
                                border: 10px solid transparent;
                                border-top-color: var(--primaryMain);
                                border-bottom: 0;
                                margin-left: -10px;
                                margin-bottom: -8px;
                            }

                            img {
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}
