.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 80px auto;

            .flexView {
                display: flex;
                gap: 40px;

                .textView {
                    flex: 1;
                    padding: 40px 24px;
                    border: 1px solid var(--border);
                    border-radius: 8px;

                    .title {
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .contentView {
                        margin-top: 20px;

                        img {
                            width: 30px;
                            height: 30px;
                        }

                        div {
                            display: flex;
                            gap: 4px;
                            align-items: center;

                            & > svg {
                                width: 20px;
                                height: 20px;
                                margin-bottom: 4px;
                            }

                            & > p {
                                color: var(--foreground);
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .mapView {
                    flex: 1;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 80px;
                padding: 0 12px;
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 80px;
                padding: 0 12px;
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 40px;
                padding: 0 12px;
            }
        }
    }
}
