@media (max-width: 1280px) {
    .container {
        user-select: none;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        padding: 16px 12px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
        z-index: 1000000;

        &.active {
            background-color: var(--background);
        }

        .wrapper {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;

            .section {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .leftView {
                    flex: 1;

                    .imgWrapper {
                        position: relative;
                        overflow: hidden;
                        width: 48px;
                        border-radius: 8px;

                        &:after {
                            content: '';
                            display: block;
                            padding-bottom: 100%;
                        }

                        img {
                            object-fit: cover;
                        }
                    }
                }

                .rightView {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 48px;

                    .navList {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        margin: 0;

                        .navItem {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100px;
                            height: 100%;

                            &:hover {
                                .subNavView {
                                    display: flex;
                                }
                            }

                            a {
                                color: var(--background2) !important;
                                font-weight: bold;
                                text-decoration: none;

                                &.active {
                                    color: var(--foreground) !important;
                                }
                            }

                            .subNavView {
                                background-color: var(--background);
                                position: absolute;
                                top: 40px;
                                left: 0;
                                display: none;
                                flex-direction: column;
                                border-radius: 8px;
                                box-shadow: 0px 5px 9px 0px rgb(0, 0, 0, 0.05);

                                .subNavItem {
                                    width: 150px;
                                    padding: 16px;
                                    font-size: 14px;
                                    font-weight: 500;
                                    text-align: left;
                                }
                            }
                        }
                    }

                    .hamburgerBtn {
                        display: none;

                        svg {
                            width: 28px;
                            height: 28px;
                            color: var(--background);
                        }
                    }
                }
            }
        }
    }
}
