.loadingView {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000000000000;

    .imgWrapper {
        position: relative;
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 600px) {
    .loadingView {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1000000000000;

        .imgWrapper {
            position: relative;
            width: 50px;
            height: 50px;
        }
    }
}
