.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;

    .modalBackDrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.isBlur {
            // background-color: hsla(0, 0%, 100%, 0.3);
            backdrop-filter: blur(5px);
        }
    }

    .modalChild {
        background-color: var(--background);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        max-height: calc(100% - 40px);
        border-radius: 8px;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
        will-change: transform;

        .modalHeader {
            flex-shrink: 0;
            display: none;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            padding-bottom: 0;

            &.active {
                display: flex;
            }

            h2 {
                font-size: 20px;
                font-weight: 500;
            }

            svg {
                width: 28px;
                height: 28px;
            }
        }

        .modalBody {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        .modalFooter {
            flex-shrink: 0;
            display: none;
            gap: 12px;
            padding: 20px;
            padding-top: 0;

            button {
                flex: 1;
                height: 50px;
                border-radius: 4px;
                font-size: 16px;
                font-weight: bold;

                &:first-child {
                    border: 1px solid var(--border);
                }

                &:nth-child(2) {
                    background-color: var(--primaryMain);
                    border: 1px solid var(--primaryMain);
                    color: var(--white);
                }
            }

            &.active {
                display: flex;
            }
        }
    }
}

@media (max-width: 1280px) {
    .modalContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000000;

        .modalBackDrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &.isBlur {
                // background-color: hsla(0, 0%, 100%, 0.3);
                backdrop-filter: blur(5px);
            }
        }

        .modalChild {
            background-color: var(--background);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            max-height: calc(100% - 40px);
            border-radius: 8px;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
            will-change: transform;

            .modalHeader {
                flex-shrink: 0;
                display: none;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                padding-bottom: 0;

                &.active {
                    display: flex;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 500;
                }

                svg {
                    width: 28px;
                    height: 28px;
                }
            }

            .modalBody {
                flex: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

            .modalFooter {
                flex-shrink: 0;
                display: none;
                gap: 12px;
                padding: 20px;
                padding-top: 0;

                button {
                    flex: 1;
                    height: 50px;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: bold;

                    &:first-child {
                        border: 1px solid var(--border);
                    }

                    &:nth-child(2) {
                        background-color: var(--primaryMain);
                        border: 1px solid var(--primaryMain);
                        color: var(--white);
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .modalContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000000;

        .modalBackDrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &.isBlur {
                // background-color: hsla(0, 0%, 100%, 0.3);
                backdrop-filter: blur(5px);
            }
        }

        .modalChild {
            background-color: var(--background);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            max-height: calc(100% - 40px);
            border-radius: 8px;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
            will-change: transform;

            .modalHeader {
                flex-shrink: 0;
                display: none;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                padding-bottom: 0;

                &.active {
                    display: flex;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 500;
                }

                svg {
                    width: 28px;
                    height: 28px;
                }
            }

            .modalBody {
                flex: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

            .modalFooter {
                flex-shrink: 0;
                display: none;
                gap: 12px;
                padding: 20px;
                padding-top: 0;

                button {
                    flex: 1;
                    height: 50px;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: bold;

                    &:first-child {
                        border: 1px solid var(--border);
                    }

                    &:nth-child(2) {
                        background-color: var(--primaryMain);
                        border: 1px solid var(--primaryMain);
                        color: var(--white);
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .modalContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000000;

        .modalBackDrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &.isBlur {
                // background-color: hsla(0, 0%, 100%, 0.3);
                backdrop-filter: blur(5px);
            }
        }

        .modalChild {
            background-color: var(--background);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            max-height: calc(100% - 12px);
            border-radius: 8px;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
            will-change: transform;

            .modalHeader {
                flex-shrink: 0;
                display: none;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                padding-bottom: 0;

                &.active {
                    display: flex;
                }

                h2 {
                    font-size: 18px;
                    font-weight: 500;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .modalBody {
                flex: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                padding: 12px;
            }

            .modalFooter {
                flex-shrink: 0;
                display: none;
                gap: 6px;
                padding: 8px;
                padding-top: 0;

                button {
                    flex: 1;
                    height: 40px;
                    border-radius: 4px;
                    font-size: 14px;
                    font-weight: bold;

                    &:first-child {
                        border: 1px solid var(--border);
                    }

                    &:nth-child(2) {
                        background-color: var(--primaryMain);
                        border: 1px solid var(--primaryMain);
                        color: var(--white);
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}
