.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto 80px;
        }
    }
}

@media (max-width: 600px) {
    .main {
        padding: 48px 24px;
    }
}

// @media (prefers-color-scheme: dark) {
//     .logo {
//         // filter: invert();
//     }

//     .page {
//         --background: #000;
//         --foreground: #000;

//         --text-primary: #ededed;
//         --text-secondary: #999;

//         --button-primary-hover: #ccc;
//         --button-secondary-hover: #1a1a1a;
//         --button-secondary-border: #1a1a1a;
//     }
// }
