* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    tab-size: 4;
    -moz-tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

input {
    background: none;
    border: none;
    border-radius: 4px;
    outline: none;
}

button {
    cursor: pointer;
    background: none;
    border: 0;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}
