@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                height: 100vh;

                img {
                    user-select: none;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    filter: brightness(30%);
                }

                .textBox {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    z-index: 1000;

                    h2 {
                        color: var(--white);
                        font-size: 40px;
                        font-weight: bold;
                        white-space: pre-line;
                        word-break: keep-all;
                        text-align: left;
                        line-height: 1.2;
                    }

                    h3 {
                        margin-top: 8px;
                        color: var(--white);
                        font-size: 20px;
                        font-weight: bold;
                        word-break: keep-all;
                        text-align: left;
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 40px auto;
                padding: 0 12px;

                .title {
                    color: var(--foreground);
                    font-size: 28px;
                    font-weight: bold;
                    white-space: pre-line;
                    word-break: keep-all;
                    text-align: center;
                }

                .titleView {
                    margin-top: 40px;

                    h3 {
                        color: var(--primaryMain);
                        font-size: 36px;
                        letter-spacing: 12;
                        text-align: center;
                    }

                    h4 {
                        color: var(--foreground);
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                    }
                }

                .lineView {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin-top: 40px;

                    .line {
                        background-color: var(--black);
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateX(0);
                        width: 1px;
                        height: 100%;
                    }

                    .historyItem {
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;

                        &.left {
                            justify-content: flex-start;

                            .wrapper {
                                align-items: flex-start;

                                .hLine {
                                    left: -36px;
                                }

                                .contentView {
                                    text-align: left;

                                    p::before {
                                        content: '';
                                        background-color: var(--black);
                                        position: absolute;
                                        top: 50%;
                                        left: -10px;
                                        transform: translateY(-50%);
                                        display: inline-block;
                                        width: 4px;
                                        height: 4px;
                                        border-radius: 50%;
                                    }

                                    p::after {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.right {
                            justify-content: flex-start;

                            .wrapper {
                                align-items: flex-start;

                                .hLine {
                                    left: -36px;
                                }

                                .contentView {
                                    text-align: left;

                                    p::before {
                                        content: '';
                                        background-color: var(--black);
                                        position: absolute;
                                        top: 50%;
                                        left: -10px;
                                        transform: translateY(-50%);
                                        display: inline-block;
                                        width: 4px;
                                        height: 4px;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }

                        .wrapper {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            padding: 36px;

                            .yearView {
                                position: relative;

                                .hLine {
                                    background-color: var(--black);
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 30px;
                                    height: 1px;
                                }

                                .year {
                                    font-size: 32px;
                                    font-weight: bold;
                                }
                            }

                            .contentView {
                                margin-top: 8px;
                                font-size: 18px;

                                p {
                                    position: relative;
                                    padding: 4px 0;
                                    color: var(--foreground);
                                    font-size: 16px;
                                    word-break: keep-all;
                                }
                            }

                            .img {
                                overflow: hidden;
                                position: relative;
                                width: 80%;
                                margin-top: 12px;
                                border-radius: 8px;

                                &:after {
                                    content: '';
                                    display: block;
                                    padding-bottom: 60%;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
