.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 80px auto;

            h1 {
                font-size: 32px;
            }

            h2 {
                color: var(--grey);
                font-size: 24px;
            }

            .flexView {
                display: flex;
                gap: 50px;
                margin-top: 40px;

                .textView {
                    flex: 1;

                    p {
                        white-space: pre-line;
                    }

                    b {
                        display: block;
                        font-weight: bold;
                    }
                }

                .imgView {
                    flex: 1;

                    .img {
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        border-radius: 8px;

                        &:after {
                            content: '';
                            display: block;
                            padding-bottom: 100%;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                h1 {
                    font-size: 32px;
                }

                h2 {
                    color: var(--grey);
                    font-size: 24px;
                }

                .flexView {
                    display: flex;
                    gap: 50px;
                    margin-top: 40px;

                    .textView {
                        flex: 1;

                        p {
                            white-space: pre-line;
                        }

                        b {
                            display: block;
                            font-weight: bold;
                        }
                    }

                    .imgView {
                        flex: 1;

                        .img {
                            overflow: hidden;
                            position: relative;
                            width: 100%;
                            border-radius: 8px;

                            &:after {
                                content: '';
                                display: block;
                                padding-bottom: 100%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 80px auto;
                padding: 0 12px;

                h1 {
                    font-size: 32px;
                }

                h2 {
                    color: var(--grey);
                    font-size: 24px;
                }

                .flexView {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    margin-top: 40px;

                    .textView {
                        flex: 1;

                        p {
                            white-space: pre-line;
                        }

                        b {
                            display: block;
                            font-weight: bold;
                        }
                    }

                    .imgView {
                        flex: 1;

                        .img {
                            overflow: hidden;
                            position: relative;
                            width: 100%;
                            border-radius: 8px;

                            &:after {
                                content: '';
                                display: block;
                                padding-bottom: 100%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 40px auto;
                padding: 0 12px;

                h1 {
                    font-size: 28px;
                }

                h2 {
                    color: var(--grey);
                    font-size: 20px;
                }

                .flexView {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    margin-top: 40px;

                    .textView {
                        flex: 1;

                        p {
                            font-size: 14px;
                            white-space: pre-line;
                        }

                        b {
                            display: block;
                            font-weight: bold;
                        }
                    }

                    .imgView {
                        flex: 1;

                        .img {
                            overflow: hidden;
                            position: relative;
                            width: 100%;
                            border-radius: 8px;

                            &:after {
                                content: '';
                                display: block;
                                padding-bottom: 100%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
